################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/SocialMedia/FileContentIndex
/SocialMedia/obj/Debug/net6.0
/SocialMedia/obj
/.vs/SocialMedia/v17
